body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    color: #a71d1d;
    text-align: center;
    padding-top: 50px;
  }
  
  h1 {
    color: #0077cc;
    font-size: 3em;
  }
  
  p {
    font-size: 1.2em;
  }
